In [90]:
import pandas as pd

# Sample data to play with.
data = {
    'age': [27, 50, 34, None, None, None],
    'gender': ['f', 'f', 'f', 'm', 'm', None],
    'height' : [64, None, 71, 66, 68, None],
    'weight' : [140, None, 130, 110, 160, None],
}
df = pd.DataFrame(data)
print(df)

    age gender  height  weight
0  27.0      f    64.0   140.0
1  50.0      f     NaN     NaN
2  34.0      f    71.0   130.0
3   NaN      m    66.0   110.0
4   NaN      m    68.0   160.0
5   NaN   None     NaN     NaN

In [91]:
# Your turn. Write code below to drop rows where both height and weight
# are missing and print the result.

print(df.dropna(how='all', subset=['weight', 'height']))

    age gender  height  weight
0  27.0      f    64.0   140.0
2  34.0      f    71.0   130.0
3   NaN      m    66.0   110.0
4   NaN      m    68.0   160.0

In [92]:
# For each numeric column, replace the missing values with the mean for that column.
df = pd.DataFrame(data)
df.fillna(df.mean(),inplace=True)
print(df)

    age gender  height  weight
0  27.0      f   64.00   140.0
1  50.0      f   67.25   135.0
2  34.0      f   71.00   130.0
3  37.0      m   66.00   110.0
4  37.0      m   68.00   160.0
5  37.0   None   67.25   135.0

In [93]:
# For each column, replace the missing values with the most common value for that
# column. Useful for filling in missing categorical values.
# As written, this command will fill in missing values for both numerical and
# categorical columns.

df = pd.DataFrame(data)
df = df.apply(lambda x: x.fillna(x.value_counts().index[0]))
print(df)

    age gender  height  weight
0  27.0      f    64.0   140.0
1  50.0      f    68.0   160.0
2  34.0      f    71.0   130.0
3  34.0      m    66.0   110.0
4  34.0      m    68.0   160.0
5  34.0      f    68.0   160.0

In [107]:
# Your turn. 
# Try replacing each value with the median, mode, or other statistic of your choice.
df = pd.DataFrame(data)

df = df.apply(lambda x: x.fillna(x.mode()[0]))
print(df)

    age gender  height  weight
0  27.0      f    64.0   140.0
1  50.0      f    64.0   110.0
2  34.0      f    71.0   130.0
3  27.0      m    66.0   110.0
4  27.0      m    68.0   160.0
5  27.0      f    64.0   110.0

In [111]:
df = pd.DataFrame(data)
df['height'].mode()

0    64.0
1    66.0
2    68.0
3    71.0
dtype: float64