Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch. Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?

In [234]:
# importing modules
import pandas as pd
import numpy as np

In [235]:
#index
names = ['Greg','Marcia','Peter','Jan','Bobby','Cindy','Oliver']

In [236]:
#create df with index
df = pd.DataFrame(index=names)

In [237]:
#fill in age column
df['age'] = [14,12,11,10,8,6,8]

In [238]:
#check the dataframe structure
df.head()

        age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8

In [239]:
#get descriptive stats (mean, median, standard deviation)
df.describe()

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [240]:
#standard error
se = np.std(df['age'], ddof=1) / np.sqrt(len(df['age']))
se

1.0334540197243192

In [241]:
#variance with NumPy
np.var(df['age'])

6.408163265306122

In [242]:
#mode
df['age'].mode()

0    8
dtype: int64

Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?

Mean:
- age is a numeric continious value

or Mode: 
- shows the most "frequent" age

Standard deviation: 
- shows how diverse the age is in the group. 
- in comparison with the variance, more commonly used => easier to compare with a different sample (if we have one)
- we can add or substract from mean and get the approximate interval where the age of everyone in the group is. 
(95%?)

Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?

In [243]:
df.loc['Cindy', 'age'] = 7

In [244]:
df.loc['Cindy']

age    7
Name: Cindy, dtype: int64

Answer: Min changed, all the above characteristics (except for mode) as the variance is less

Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again. Does this change your choice of central tendency or variance estimation methods?

In [245]:
df.reset_index(inplace = True)

In [246]:
df.loc[df['index'] == 'Oliver', ['index','age']] = 'Jessica', 1

In [247]:
df

     index  age
0     Greg   14
1   Marcia   12
2    Peter   11
3      Jan   10
4    Bobby    8
5    Cindy    7
6  Jessica    1

In [248]:
df.describe()

             age
count   7.000000
mean    9.000000
std     4.242641
min     1.000000
25%     7.500000
50%    10.000000
75%    11.500000
max    14.000000

Answer: use median as the central tendency. The mean is squeezed towards the min value (1) that seems to be an outlier.

On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show. The answers were: TV Guide 20% fans Entertainment Weekly 23% fans Pop Culture Today 17% fans SciPhi Phanatic 5% fans
Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?

Journals may not be representative of the adult population tastes. SciPhi Phanatic and probably Pop Culture Today seem to be journals for teens rathen than for adults. 

I'd either base my calculation on TV Guide and Entertainment Weekly and find an average between them, or would better request an target audience analysis of those journal to calculate the weights.