Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch. Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?

In [54]:
# importing modules
import pandas as pd
import numpy as np

In [55]:
#index
names = ['Greg','Marcia','Peter','Jan','Bobby','Cindy','Oliver']

In [56]:
#create df with index
df = pd.DataFrame(index=names)

In [57]:
#fill in age column
df['age'] = [14,12,11,10,8,6,8]

In [58]:
#check the dataframe structure
df.head()

        age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8

In [59]:
#get descriptive stats (mean, median, standard deviation)
df.describe()

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [60]:
#standard error
se = np.std(df['age'], ddof=1) / np.sqrt(len(df['age']))
se

1.0334540197243192

In [61]:
#variance with NumPy
np.var(df['age'])

6.408163265306122

In [62]:
#mode
df['age'].mode()

0    8
dtype: int64

Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?

Mean:
- age is a numeric continious value

or Mode: 
- shows the most "frequent" age

Standard deviation: 
- shows how diverse the age is in the group. 
- in comparison with the variance, more commonly used => easier to compare with a different sample (if we have one)
- we can add or substract from mean and get the approximate interval where the age of everyone in the group is. 
(95%?)

Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?

In [63]:
 df.loc['Cindy']

age    6
Name: Cindy, dtype: int64

In [68]:
df['age', 'Cindy'] = 7

In [69]:
 df.loc['Cindy']

age             6
(age, Cindy)    7
Name: Cindy, dtype: int64