In [103]:

# ??? Your turn. Write code below to drop rows where both height and weight
# are missing and print the result.
# print(df.dropna(how='all', subset=['weight', 'height']))

In [104]:
import pandas as pd

# Sample data to play with.
data = {
    'age': [27, 50, 34, None, None, None],
    'gender': ['f', 'f', 'f', 'm', 'm', None],
    'height' : [64, None, 71, 66, 68, None],
    'weight' : [140, None, 130, 110, 160, None],
}
df = pd.DataFrame(data)

In [105]:
# For each numeric column, replace the missing values with the mean for that column.
# df.fillna(df.mean(),inplace=True)
# print(df)

In [106]:

# For each column, replace the missing values with the most common value for that
# column. Useful for filling in missing categorical values.
# As written, this command will fill in missing values for both numerical and
# categorical columns.
#df = pd.DataFrame(data)
# df = df.apply(lambda x:x.fillna(x.value_counts().index[0]))
#print(df)

In [107]:

# Your turn. Try replacing each value with the median, mode, or other statistic
# of your choice.

In [108]:
#df = df.apply(lambda x: x.fillna(x.mode()))
# print(df)

In [123]:
df.fillna(df.gender.value_counts().index[0],inplace=True)
df

    age gender  height  weight
0  27.0      f    64.0   140.0
1  50.0      f    67.0   135.0
2  34.0      f    71.0   130.0
3  34.0      m    66.0   110.0
4  34.0      m    68.0   160.0
5  34.0      f    67.0   135.0

In [110]:
df.fillna(df['gender'].mode(),inplace=True)

    age gender  height  weight
0  27.0      f    64.0   140.0
1  50.0      f    67.0   135.0
2  34.0      f    71.0   130.0
3  34.0      m    66.0   110.0
4  34.0      m    68.0   160.0
5  34.0   None    67.0   135.0

In [111]:
#df['gender'] = df['gender'].astype('str')

In [112]:
df

    age gender  height  weight
0  27.0      f    64.0   140.0
1  50.0      f    67.0   135.0
2  34.0      f    71.0   130.0
3  34.0      m    66.0   110.0
4  34.0      m    68.0   160.0
5  34.0   None    67.0   135.0

In [113]:
df['gender'].describe()

count     5
unique    2
top       f
freq      3
Name: gender, dtype: object

In [121]:
df['gender'].value_counts().index[0]

'f'

In [115]:
df

    age gender  height  weight
0  27.0      f    64.0   140.0
1  50.0      f    67.0   135.0
2  34.0      f    71.0   130.0
3  34.0      m    66.0   110.0
4  34.0      m    68.0   160.0
5  34.0   None    67.0   135.0