## Unit 3, Lesson 3. Challenge

Engineer your features, then create three models. Each model will be run on a training set and a test-set (or multiple test-sets, if you take a folds approach). The models should be:

- Vanilla logistic regression
- Ridge logistic regression
- Lasso logistic regression

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import math
import seaborn as sns
import sklearn
from sklearn import linear_model
from sklearn import preprocessing
%matplotlib inline
sns.set_style('white')

In [14]:
df=pd.read_csv("../crx.data.txt", engine='python', header=None, names = [
"Male",
"Age",
"Debt",
"Married",
"BankCustomer",
"EducationLevel",
"Ethnicity",
"YearsEmployed",
"PriorDefault",
"Employed",
"CreditScore",
"DriversLicense",
"Citizen",
"ZipCode",
"Income",
"Approved",])

In [17]:
df.Approved.replace(['+', '-'], ['1', '0'], inplace=True)
df.Male.replace(['b', 'a'], ['0', '1'], inplace=True)
df.DriversLicense.replace(['t', 'f'], ['1', '0'], inplace=True)
df.Employed.replace(['t', 'f'], ['1', '0'], inplace=True)
df.PriorDefault.replace(['t', 'f'], ['1', '0'], inplace=True)

In [18]:
df.head(3)

,Male,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,0,30.83,0.00,u,g,w,v,1.25,1,1,1,0,g,00202,0,1
1,1,58.67,4.46,u,g,q,h,3.04,1,1,6,0,g,00043,560,1
2,1,24.50,0.50,u,g,q,h,1.50,1,0,0,0,g,00280,824,1

In [ ]:
df['YearsEmployed_Income'] = df['YearsEmployed'] * df['Income']
df['Income'] = df['Income']
df['student_default'] = df['student'] * df['default']
df['balance_sqrt'] = (df['balance'] + 100) ** .5
df['Age2'] = df['Age'] ** 2
df['Debt3'] = df['Debt'] ** 3

### Vinalla Logistic Regression

In [ ]:
Y = df['Approved'].values.reshape(-1, 1)
X = df.loc[:, ~(df.columns).isin(['Approved'])]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=20)

In [ ]:
def frange(start, stop, step):
    i = start
    while i < stop:
        yield i
        i += step
        
rigde_r2 = []
lasso_r2 = []
lambd_values = []

for lambd in frange(0.1, 5, 0.25):
    ridgeregrBig = linear_model.Ridge(alpha=lambd)
    ridgeregrBig.fit(X_train2, Y_train)
    rigde_r2.append(ridgeregrBig.score(X_test2, Y_test))
    lassBig = linear_model.Lasso(alpha=lambd)
    lassBig.fit(X_train2, Y_train)
    lasso_r2.append(lassBig.score(X_test2, Y_test))
    lambd_values.append([lambd])

In [ ]:
plt.figure(figsize=(20,10))
plt.plot(lambd_values, rigde_r2, 'r', lambd_values, lasso_r2, 'b')
plt.xlabel('Alpha')
plt.ylabel('R^2')
plt.legend(['Ridge','Lasso'])
plt.show()